
/*General Styles*/
* {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

body {
  background-image: url("http://s3-media1.fl.yelpcdn.com/bphoto/OSrY6x_ZjQwCOwYUZzO-oQ/o.jpg");
  background-size: cover;
  color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: absolute;
  width: 100%;
}

/*Nav styles*/

.nav-bar {
  line-height: 50px;
}

.navbar-brand-logo {
  max-height: 45px;
  float:left;
}


/*intro styles*/

.bold {
  font-weight: bolder;
}

.intro {
  background: rgba(0, 0, 0, 0.7);
  padding: 10px 0 10px 0;
  color: white;
  top: 120px;
  position: relative;
}
.description-center {
  text-align: center;
}
.intro a {
  color: white;
}
.intro a:hover {
  color: white;
}
.two {
  position: relative;
  clear: both;
  top: 480px;
  background: white;
}

.agent-contact {
  text-align: center;
}

/*About*/

.about {
  background: white;
  position: relative;
  top: 120px;
}

/*contact-form*/

.contact-wrap {
  background: rgba(0, 0, 0, 0.7);
  padding: 10px 0 10px 0;
  color: white;
  top: 120px;
  position: relative;
}

.error {
  color: red;
}

/*thank-you*/
.thank-you {
  color: white;
  margin-top: 120px;
}
