
/*General Styles*/
* {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

body {
  background-image: url("http://s3-media1.fl.yelpcdn.com/bphoto/OSrY6x_ZjQwCOwYUZzO-oQ/o.jpg");
  background-size: cover;
  color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: absolute;
  width: 100%;
  min-height: 100%;
}

/*Nav styles*/

.nav-bar {
  line-height: 50px;
}

.navbar-brand-logo {
  max-height: 45px;
  float:left;
}


/*intro styles*/

.bold {
  font-weight: bolder;
}
.intro {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  top: 120px;
  position: relative;
  padding: 30px 0 30px 0;
}
.description-center {
  text-align: center;
}
.intro a {
  color: white;
}
.intro a:hover {
  color: white;
}

.page-down {
  position: relative;
  top: 275px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 64px;
}

.fa-angle-down {
  border: 1px solid white;
  border-radius: 50px;
  width: 64px;
  height: 64px;
  background: rgba(255, 255, 255, 0.6);
}

.page-down a {
  color: white;
}

.page-down a:hover {
  text-decoration: none;
  background: transparent;
  color: white;
}

/*two*/

.two {
  position: relative;
  clear: both;
  top: 480px;
  background: white;
}

.agent-contact {
  text-align: center;
}

.search-bar-container {
  position: relative;
  top: 400px;
}

.search-bar {
  color: white;
  padding-top: 25px;
  padding-bottom: 25px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
}

/*About*/

.about {
  background: white;
  position: relative;
  top: 120px;
}

/*contact-form*/

.contact-wrap {
  background: rgba(0, 0, 0, 0.7);
  padding: 10px 0 10px 0;
  color: white;
  top: 120px;
  position: relative;
}

.error {
  color: red;
}

/*thank-you*/
.thank-you {
  color: white;
  margin-top: 120px;
}


/*footer*/


/*animation*/

.animation-element {
  opacity: 0;
  position: relative;
}

.animation-element.fade-in {
  opacity: 0;
  -moz-transition: all 1.5s ease;
  -webkit-transition: all 1.5s ease;
  -o-transition: all 1.5s ease;
  transition: all 1.5s ease;
}

.animation-element.fade-in.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}
